
*{
  box-sizing: border-box;
  margin: 0;
}

/* 공통으로 쓰이는 색상 지정 */
:root{
  --color-blue: #2196F3;
  --color-dark: #333333;
  --color-white: white;
  --color-gray: #D9D9D9;
  --color-lightgray: #F0F0F0;
  --font-inter: 'Inter';
  --font-karantina: 'Karantina'
}
